################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnicomTicManagementSystem/UnicomTicManagementSystem.csproj
/UnicomTicManagementSystem/UnicomTicManagementSystem.csproj
/UnicomTicManagementSystem.sln
/UnicomTicManagementSystem.sln
